{% extends "base.html" %}

{% block content %}

<h2>Team Dashboard</h2>

<div class="card">
    <h3>{{ team.team_name }}</h3>
    <p><strong>Remaining Budget:</strong> ₹{{ team.budget }}</p>

    <h3>Bought Players</h3>

    {% if players %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for p in players %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.role }}</td>
                <td>₹{{ p.sold_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No players bought yet.</p>
    {% endif %}
</div>

{% endblock %}