<!DOCTYPE html>
<html>
<head>
    <title>Mini Auction Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="navbar">
    <h2 class="logo">Mini Auction Portal</h2>

    <nav>
        {% if session.get('role') == 'admin' %}
            <a href="/">Dashboard</a>
            <a href="/add-team">Create Team</a>
            <a href="/teams">Teams</a>
            <a href="/players">Players</a>
            <a href="/next_player">Live Auction</a>
            <a href="/summary">Summary</a>
            <a href="/logout">Logout</a>

        {% elif session.get('role') == 'player' %}
            <a href="/player_dashboard">My Dashboard</a>
            <a href="/logout">Logout</a>

        {% elif session.get('role') == 'team_owner' %}
            <a href="/team_dashboard">Team Dashboard</a>
            <a href="/team_players">All Players</a>
            <a href="/logout">Logout</a>

        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Player Signup</a>
        {% endif %}
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>