{% extends "base.html" %}

{% block content %}

<div class="hero-section">
    <h1>Auction Dashboard</h1>
    <p>Manage teams, players, auction progress, and final results from one place.</p>
</div>

<div class="stats-grid">
    <div class="stat-card">
        <h3>{{ total_teams }}</h3>
        <p>Total Teams</p>
    </div>

    <div class="stat-card">
        <h3>{{ total_players }}</h3>
        <p>Total Players</p>
    </div>

    <div class="stat-card">
        <h3>{{ sold_players }}</h3>
        <p>Sold Players</p>
    </div>

    <div class="stat-card">
        <h3>{{ unsold_players }}</h3>
        <p>Unsold Players</p>
    </div>

    <div class="stat-card">
    <h3>{{ pending_players }}</h3>
    <p>Pending Players</p>
</div>

<!-- <div class="stat-card">
    <h3>{{ unsold_players }}</h3>
    <p>Unsold Players</p>
</div> -->
</div>


{% if auction_over %}
    <div class="status-box completed">
        <h2>Auction Completed</h2>
        <p>All players have been sold successfully.</p>
        <a class="link-btn" href="/summary">View Final Summary</a>
    </div>
{% else %}
    <div class="status-box live">
        <h2>Auction In Progress</h2>
        <p>The auction is active. Use the Live Auction page to sell players one by one.</p>
        <a class="link-btn" href="/next_player">Go to Live Auction</a>
    </div>
{% endif %}

<div class="card">
    <h3>Quick Actions</h3>
    <div class="quick-links">
        <a class="action-btn" href="/teams">View Teams</a>
        <a class="action-btn" href="/players">View Players</a>
        <a class="action-btn" href="/summary">View Summary</a>
        <a class="action-btn" href="/next_player">Live Auction</a>
    </div>
</div>

{% endblock %}