{% extends "base.html" %}

{% block content %}

<h2>Player Registration</h2>

<div class="card">
    <form method="POST" class="form-layout">
        <label>Full Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Playing Role</label>
        <select name="player_role" required>
            <option value="">Select Role</option>
            <option value="Batsman">Batsman</option>
            <option value="Bowler">Bowler</option>
            <option value="All-Rounder">All-Rounder</option>
            <option value="Wicket Keeper">Wicket Keeper</option>
        </select>

        <button type="submit">Register as Player</button>
    </form>
</div>

{% endblock %}